@import "paleta-de-cores";

.pagina-inicial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin-bottom: 0;

  .descricao {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;

      strong {
        color: $azul;
      }
    }
  }

  .imagem {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    box-shadow: 0 0 4rem 0.8rem rgba($color: $azul, $alpha: 0.4);
    animation: moverImagem infinite 5s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes moverImagem {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
    box-shadow: 0 0 4rem 0.8rem rgba($color: $azul, $alpha: 0.6);
  }
  100% {
    transform: translateY(0);
  }
}
